/*# CSS PERSONNALISE */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Verdana', 'DejaVu Sans';
    background-color: #f7f7f7;
}

.row{
margin: 0;
}

a { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black; }
a:focus { text-decoration: none; color: black; }

.picto {
    width: 4vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.header {
    background-color: #80b62a;
    width: 100%;
    color: white;
}

.header_table {
    width: 100%;
}

.header_td_left {
    text-align: left;
    width: 33%;
    padding: 10px;
}

.header_td_center {
    text-align: center;
    width: 33%;
    padding: 10px;
    font-size: 3vh;
}

.header_td_right {
    text-align: right;
    width: 33%;
    padding: 10px;
}

.footer {
    background-color: #80b62a;
    width: 100%;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.avatarnom {
    margin: -14vh 2vh 2vh 2vh;
    text-align: center;
}

.avatar {
    width: 20vh;
    height: 20vh;
    background-image: url('../../images/noavatar.svg');
    background-size: 103%;
    background-position:center;
    border-radius: 100%;   
    margin: 2.5vh auto;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    transition-property: border-radius;
    transition-duration: 0.2s;
    
}

.avatar:hover {
    border-radius: 2px;
}

.parentsname {
    font-size: 5vh;
}

.colonne{
    background-color: white;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    padding: 2vh;
    margin: 13vh 2vh 2vh 2vh;
    height: 100%;
    color: #333333;
    font-size: 2.5vh;
    -moz-box-shadow: 0px 1px 1px 0px #9b9b9b;
    -webkit-box-shadow: 0px 1px 1px 0px #9b9b9b;
    -o-box-shadow: 0px 1px 1px 0px #9b9b9b;
    box-shadow: 0px 1px 1px 0px #9b9b9b;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=180, Strength=1);
    min-height: 55vh;
    max-height: 65vh;
}

.colonne_invisible {
	padding: 2vh;
    margin: 5vh 2vh 2vh 2vh;
    height: 100%;
    color: #333333;
    font-size: 2.5vh;
    min-height: 55vh;
    max-height: 65vh;
}

.colonnecontent {
    float: left;
}

.elementlist {
    color: #80b62a;
}

.categorie {
    font-size: 5vh;
    color: #80b62a;
    text-align: center;
    margin-top: 10px;
}

.communaute {
    display: flex;
    text-align: center;
    margin: 3vh;
}

.communaute_titre {
    border: 0.5vh solid grey;
    border-radius: 2vh;
    padding: 2vh 3vh 2vh 2vh;
    width: 100%;
}

.communaute_titre:hover {
    border: 0.5vh solid #80b62a;
}

.communaute_arrow {
    margin-left: -3.2vh;
    margin-top: auto;
    margin-bottom: auto;
}

.enfant {
    margin: 3vh 0;
}

.avatarenfant {
    width: 10vh;
    height: 10vh;
    background-image: url('../../images/noavatar.svg');
    background-size: 103%;
    background-position:center;
    border-radius: 100%; 
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    transition-property: border-radius;
    transition-duration: 0.2s;
    
}

.avatarenfant:hover {
    border-radius: 2px;
}

.kidsname {
    font-weight: bold;
    text-align: center;
}

.kidsage {
    float: right;
}

.kidsetablissement {
    font-size: 2vh;
    color: #80b62a;
    text-align: center;
}

.kidslevel {
    float: right;
    color: #80b62a;
}

/*# SURCHARGE BOOTSTRAP */

.btn-primary {
  color: #fff;
  background-color: #80B62A;
  border-color: #80B62A;
}

.btn-primary:hover {
  color: #fff;
  background-color: #6e9b25;
  border-color: #6e9b25;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 182, 42, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #80B62A;
  border-color: #80B62A;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #6e9b25;
  border-color: #6e9b25;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(128, 182, 42, 0.5);
}
